/* Dracula Theme for waybar-pomodoro */
#custom-pomodoro {
    background-color: #282a36;
    color: #f8f8f2;
    padding: 0px 14px;
    border-radius: 100px;
    margin: 0px 4px;
}

#custom-pomodoro.stopped,
#custom-pomodoro.idle {
    background-color: #44475a;
    color: #6272a4;
}

#custom-pomodoro.work {
    background-color: #ff5555;
    color: #282a36;
}

#custom-pomodoro.break {
    background-color: #50fa7b;
    color: #282a36;
}

#custom-pomodoro.long-break {
    background-color: #8be9fd;
    color: #282a36;
}

#custom-pomodoro.paused {
    background-color: #f1fa8c;
    color: #282a36;
}
