/* Gruvbox Theme for waybar-pomodoro */
#custom-pomodoro {
    background-color: #3c3836;
    color: #ebdbb2;
    padding: 0px 14px;
    border-radius: 100px;
    margin: 0px 4px;
    font-weight: bold;
}

#custom-pomodoro.stopped,
#custom-pomodoro.idle {
    background-color: #504945;
    color: #ebdbb2;
}

#custom-pomodoro.work {
    background-color: #ea6962;
    color: #1d2021;
}

#custom-pomodoro.break {
    background-color: #b8bb26;
    color: #1d2021;
}

#custom-pomodoro.long-break {
    background-color: #8ec07c;
    color: #1d2021;
}

#custom-pomodoro.paused {
    background-color: #e3ac2b;
    color: #1d2021;
}
